$t-colors-background: white;
$t-colors-font: black;
$t-colors-accent1: #9B9B93;
$t-colors-accent2: #39393A;

$t-font-family: 'Nanum Gothic', sans-serif;
$t-font-size: 14px;

$t-units-xs: 8px;
$t-units-s: 16px;
$t-units-m: 32px;
$t-units-l: 64px;
$t-units-xl: 128px;