<header class="header">
    <div class="header_logo">
      <h1>Logo</h1>
    </div>
  
    <nav class="header_navigation visible">
      <ul>
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">About Me</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  
    <!--
    <button
      class="js-toggle"
      data-toggle-selector=".m-header__navigation"
      data-toggle-class="visible"
    >
      Toggle
    </button>
    -->
  </header>