.header {
    display: flex;
    align-items: center;
    background-color: $t-colors-background;
    box-sizing: border-box;
    padding: $t-unit-xs;
    color: $t-colors-font;
    border-bottom-width: 1px;
  
    .header_logo {
      padding: $t-units-xs;
      font-weight: bold;
      color: $t-colors-accent1;
      font-size: $t-font-size;
    }
  
    .header_navigation {
      padding: $unit-xs;
      margin: $t-units-m;
      display: none;
  
      ul {
        li {
          display: inline-block;
  
          a {
            transition: all 0.35s;
            color: $t-colors-font;
            text-decoration: none;
  
            &:hover {
              color: $t-colors-accent1;
            }
          }
  
          &.active {
            a {
              color: $t-colors-accent1;
            }
          }
        }
      }
  
      &.visible {
        display: block;
      }
    }
  }